body {
  /* background-color: #275f3a; */
  margin: 0;
  padding: 0;
}

#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 900;
  font-family: sans-serif;

  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);

  color: white;
  padding: 5rem;
}

.stopwatch {
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls > * {
  cursor: pointer;
}
